$backgroundColor: hsl(0, 0%, 15%);
$backgroundColorSecondary: #2a2f32;
$textColor: rgba(255, 255, 255, 0.87);
$textColorSecondary: rgba(255, 255, 255, 0.6);
//Rooms
$roomsBackgroundColor: hsl(0, 0%, 15%);
$selectedRoom: hsl(0, 0%, 30%);
$hoverRoom: hsl(0, 0%, 25%);

//Sender
$senderBackgroundColor: hsl(0, 0%, 20%);
$sendertextColor: hsl(0, 0%, 80%);
//Receiver
$receiverBackgroundColor: hsl(173, 100%, 14%);
$receivertextColor: hsl(0, 0%, 80%);
//Send Button
$sendButtonBackgroundColor: hsl(173, 100%, 27%);

//Portal
$PortalbackgroundColorSecondary: #212121;
